
* {
   margin: 0;
   padding: 0;
   }
  
   @font-face {
      font-family: "Gilroyextrabold";
      src: url("./fonts/Gilroy/Gilroyextrabold/Gilroyextrabold.woff2") format("woff2");
      src: url("./fonts/Gilroy/Gilroyextrabold/Gilroyextrabold.woff") format("woff"); 
      src: url("./fonts/Gilroy/Gilroyextrabold/Gilroyextrabold.ttf") format("truetype");
      font-weight: 800;
      font-style: normal;
  }

  @font-face {
   font-family: "Gilroy";
   src: url('./fonts/Gilroy/Gilroylight/Gilroylight.woff2') format('woff2');
   src: url('./fonts/Gilroy/Gilroylight/Gilroylight.woff') format('woff');
   src: url('./fonts/Gilroy/Gilroylight/Gilroylight.ttf') format('truetype');
   font-weight: 300;
   font-style: normal;
}

@font-face {
   font-family: 'Gilroymedium';
   src: url('./fonts/Gilroy/gilroymedium/Gilroy-Medium.eot');
   src: 
       url('./fonts/Gilroy/gilroymedium/Gilroy-Medium.eot?#iefix') format('embedded-opentype'),
       url('./fonts/Gilroy/gilroymedium/Gilroy-Medium.woff') format('woff'),
       url('./fonts/Gilroy/gilroymedium/Gilroy-Medium.ttf') format('truetype');
   font-weight: 500;
   font-style: normal;
}


@font-face {
   font-family: 'Gilroybold';
   src: url('./fonts/Gilroy/Gilroybold/Gilroy-Bold.eot');
   src:
       url('./fonts/Gilroy/Gilroybold/Gilroy-Bold.eot?#iefix') format('embedded-opentype'),
       url('./fonts/Gilroy/Gilroybold/Gilroy-Bold.woff') format('woff'),
       url('./fonts/Gilroy/Gilroybold/Gilroy-Bold.ttf') format('truetype');
   font-weight: bold;
   font-style: normal;
}






   body {
   width: 100%;
   font-family: "Gilroymedium";
   }
   .header {
   background-color: #ffffff;
   margin-left: 12%;
   position: relative;
   height: 177px;
   }
   .header-logo img:nth-child(1) {
   position: absolute;
   top: 64px;
   left: 0px;
   width: 16.53px;
   height: 60.05px;
   }
   .header-logo img:nth-child(2) {
   position: absolute;
   left: 10px;
   top: 72.9px;
   }
   .header-logo img:nth-child(3) {
   position: absolute;
   top: 75.5px;
   left: 3.09px;
   }
   .header-logo img:nth-child(4) {
   position: absolute;
   top: 76px;
   left: 14.09px;
   }
   .header-logo img:nth-child(5) {
   position: absolute;
   top: 107.69px;
   left: 12.6px;
   }
   .header-logo img:nth-child(6) {
   position: absolute;
   top: 119.29px;
   left: 3.27px;
   }
   
   .store-name {
    font-family: 'Gilroybold';
    position: absolute;
    left: 41.6px;
    top: 66.5px;
    text-transform: uppercase;
    font-size: 24px; 
    line-height: 30px;
   }
   .city {
   position: absolute;
   top: 66px;
   left: 200px;
   font-size: 12px;
   line-height: 14px;
   font-family: "Gilroy";
   }
   .select-city {
       border: none;
       font-size: 11px;
       height: 20px;
       width: 80px;
       font-weight: bolder;
       background: url("../img/arrow.svg") no-repeat right 0px top 9px, url("../img/decor.jfif") no-repeat left 0px top 17px; 
       line-height: 13px;
       color: #C6A464;
       -webkit-appearance: none;
       -moz-appearance: none;
       appearance: none;
       cursor: pointer;
     
       
   }
   .phone {
      font-family: 'Gilroymedium';
       position: absolute;
       width: auto;
       height: 19px;
       font-size: 18px;
       line-height: 22px;
       font-weight: bolder;
       top: 101px;
       left: 200px;
       white-space: nowrap;
   }
   .feedback a {
       position: absolute;
       left: 200px;
       top: 125px;
       width: 176px;
       height: 19px;
       font-size: 11px;
       line-height: 14px;
       color: #C6A464;
       font-family: "Gilroy";
   }
   .menu {
     position: absolute;  
     left: 400px;
     top: 127px;
     width: 624px;
     height: 19px;
     font-size: 13px;
     line-height: 16px;
     font-family: "Gilroy";
   }
   .menu a {
     font-size: 13px;
     line-height: 16px;
     text-decoration: none;
     color: #000000;
     margin: 0 5px;
   }
   .whatsapp img:nth-child(1) {
      position: absolute;
      top: 76px;
      left: 409px;
   }
   .whatsapp img:nth-child(2) {
      position: absolute;
      top: 80.5px;
      left: 414px;
   }
   .telegram img {
      position: absolute;
      top: 76.08px;
      left: 444px;
   }
    .viber img:nth-child(1) {
    position: absolute;
    top: 76.08px;
    left: 485px;
    }
    .viber img:nth-child(2) {
       position: absolute;
       top: 80.98px;
       left: 488px;
    }
    .viber img:nth-child(3) {
       position: absolute;
       top: 81.94px;
       left: 494.9px;
    }
    .viber img:nth-child(4) {
       position: absolute;
       top: 79.21px;
       left: 496px;
    }
    .search-box {
        position: absolute;
        left: 555px;
        top: 72px;
        background: #f4f8fb;
    }
    .search-txt {
       border: none;
       background: #f4f8fb;
        color: #B3BDC3;
        border-radius: 3px;
        border: none;
        padding-left: 15px;
        width: 409px;
        height: 30px;
    }
    .search-btn{
       padding-right: 11px;
       
    }
    .search-btn img {
       width: 11px;
       height: 11px;
      }
    .sign input {
      font-size: 12px;
      line-height: 15px;
      font-weight: bolder;
       position: absolute;
       left: 1063px;
       top: 72px;
       width: 104px;
       height: 30px;
       background-color: #ffffff;
       border-radius: 3%;
       border: 2px solid rgb(91, 132, 180);
    }
    .like img:nth-child(1) {
       position: absolute;
       left: 1075px;
       top: 116px; 
    }
    .like img:nth-child(2) {
       position: absolute;
       left: 1091px;
       top: 116px; 
    }
    .like img:nth-child(3) {
       position: absolute;
       left: 1098px;
       top: 121px; 
    }
    .basket {
      
    }
    .basket img:nth-child(1) {
      position: absolute;
      top: 114px;
      left: 1116px;
    }
    .basket img:nth-child(2) {
      position: absolute;
      top: 116px;
      left: 1139px; 
    }
    .basket img:nth-child(3) {
      position: absolute;
      top: 121px;
      left: 1145px; 
    }
   
   .margin-catalog {
      height: 155px;
       background-color:  #FAFBFC;
   }
   
    .catalog {
       position: relative;
       height: 155px;
       background-color:  #FAFBFC;
       margin-left: 12%;
       font-weight: 400;
    }
    .catalog a {
       color: #000000;
       text-decoration: none;
       font-size: 14px;
       line-height: 17px;
       font-weight: bolder;
    }
    .catalog li {
       list-style-type: none;
    }
   .catalog .sale {
      
      position: absolute;
      left: -2px;
      top: 89px;
   }
   #sale {
      position: absolute;
      top: 44px;
      left: 25px;
   }
   .catalog .brends {
      
      position: absolute;
      left: 127px;
      top: 89px;
   }
   #brends1 {
      position: absolute;
      left: 139px;
      top: 45px;
   }
   #brends2 {
      position: absolute;
      left: 148px;
      top: 54.8px;
   }
   .catalog .luster {
      position: absolute;
      left: 243px;
      top: 89px;
   }
   #luster {
      position: absolute;
      left: 253px;
      top: 44px;
   }
   .catalog .glow {
      position: absolute;
      left: 343px;
      top: 89px;
   }
   #glow {
   position: absolute;
   left: 370px;
   top: 46px;
   }
   .catalog .bra {
      position: absolute;
      left: 486px;
      top: 89px;
   }
   #bra {
   position: absolute;
   top: 44px;
   left: 483px;
   }
   .catalog .table-lamp {
      position: absolute;
      left: 562px;
      top: 89px;
   }
   #tablelamp {
   position: absolute;
   left: 596px;
   top: 44px;
   }
   .catalog .floor-lamp {
      position: absolute;
      left: 689px;
      top: 89px;
   }
   #floorlamp {
   position: absolute;
   left: 709px;
   top: 44px;
   }
   .catalog .lamp {
      position: absolute;
      left: 805px;
      top: 89px;
   }
   #lamp {
   position: absolute;
   left: 818px;
   top: 44px;
   }
   .catalog .decoration {
      position: absolute;
      left: 892px;
      top: 89px;
   }
   #decoration {
   position: absolute;
   left: 930px;
   top: 44px;
   }
   .catalog .clock {
      position: absolute;
      left: 1029px;
      top: 89px;
   }
   #clock {
   position: absolute;
   left: 1031px;
   top: 44px;
   }
   .catalog .more {
      position: absolute;
      left: 1118px;
      top: 89px;
   }
   #more1 {
   position: absolute;
   left: 1126px;
   top: 45px;
   } 
   #more2 {
   position: absolute;
   left: 1137px;
   top: 55px;
   } 
   
   
   .catalog [type="checkbox"]{
      display: none;
     }  
     .catalog label.toggleMenu{
      background: #C9C9C9;
      display: none;
     }  
   
   
   @media all and (min-width: 1800px) {
      .header {
         margin-left: 19%;
      }
      .catalog {
         margin-left: 18.9%;
      }
     }
   
   
   @media all and (max-width: 800px) {
   body {
      width: 100%;
   }
   .header {
   margin-left: 0;
   height: 80px;
   background: url("./img/line.svg") no-repeat left 40% bottom 0;
   background-size: 75%;
   
   } 
   .header-logo {
      display: none;
   }
   .store-name {
      left: 40%;
      top: 20px;
      font-size: 18px;
      line-height: 18px;
      font-weight: bold;
   }
   .city {
      display: none;
   }
   .phone {
      display: none;
   }
   .feedback {
      display: none;
   }
   .share-social {
      display: none;
   }
   .menu {
      display: none;
   }
   
   .search-txt {
      display: none;
   
   }
   
   .search-box {
      left: 18%;
      top: 27px;   
      height: auto;
      padding-right: 0;
      background: none;
   }
   .search-box img {
      width: 17px;
      height: auto;
      padding-right: 0;
   }
   .sign {
      display: none;
   }
   .like {
      display: none;
   }
   .basket {
      left: 80%;
   }
   .basket img:nth-child(1) {
      
      top: 25px;
      left: 82%;
      width: 23px;
    }
    .basket img:nth-child(2) {
      
      top: 27px;
      left: 86.5%;
    }
    .basket img:nth-child(3) {
     display: none;
    }
    .basket img:nth-child(4) {
      position: absolute;
      top: 32.5px;
      left: 88.35%;
    }
    .catalog img {
       display: none;
    }
   .catalog {
   overflow: hidden;
   position: absolute;
   top: 23px;
   height: 100%;
   margin-left: 6%;
   background: none;
   width: auto;

   }
   .margin-catalog {
      background-color: white;
   }
   .catalog ul {  
      border: 1px solid rgba(228, 221, 221, 0.301);
      display: none;
      background-color: rgba(245, 242, 236, 0.932);
      
   }

   .catalog [type="checkbox"]{
      display: none;
     }  
     .catalog label.toggleMenu{
      
      background: url("./img/string.svg") no-repeat top 5px left 6px , url("./img/string.svg") no-repeat top 10.5px left 6px , url("./img/string.svg") no-repeat top 16px left 6px;
      background-size: 20px;
      display: block;
      height: 35px;
      width: 35px;
      margin-bottom: 15px;
      cursor: pointer;
      position: relative;
      
      
      
     }  
     
   .catalog li {
      padding: 20px 20px 10px 65px;
      border: 1px solid rgba(228, 221, 221, 0.301);
   }
   
     input.toggleMenu:checked ~ ul{
      display: block;
     }   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   .catalog li:nth-child(1) {
   background: url("./img/sale.svg") no-repeat top 18px left 20px;
   background-size: 22px;
   }
   .catalog li:nth-child(2) {
   background: url("./img/brend1.svg") no-repeat top 16px left 21px , url("./img/brend2.svg") no-repeat top 22px left 26px;
   background-size: 20px, 10px;
   }
   .catalog li:nth-child(3) {
   background: url("./img/luster.svg") no-repeat top 15px left 22px;
   background-size: 20px;
   }
   .catalog li:nth-child(4) {
   background: url("./img/glow.svg") no-repeat top 14px left 23px;
   background-size: 20px;
   }
   .catalog li:nth-child(5) {
   background: url("./img/bra.svg") no-repeat top 14px left 22px;
   background-size: 20px;
   }
   .catalog li:nth-child(6) {
   background: url("./img/tablelamp.svg") no-repeat top 13px left 25px;
   background-size: 13px;
   }
   .catalog li:nth-child(7) {
   background: url("./img/floorlamp.svg") no-repeat top 15px left 24px;
   background-size: 15px;
   }
   .catalog li:nth-child(8) {
   background: url("./img/lamp.svg") no-repeat top 14px left 24px;
   background-size: 13px;
   }
   .catalog li:nth-child(9) {
   background: url("./img/decoration.svg") no-repeat top 15px left 23px;
   background-size: 15px;
   }
   .catalog li:nth-child(10) {
   background: url("./img/clock.svg") no-repeat top 15px left 21px;
   background-size: 18px;
   }
   .catalog li:nth-child(11) {
   background: url("./img/more1.svg") no-repeat top 14px left 20px , url("./img/more2.svg") no-repeat top 20px left 26px;
   background-size: 20px, 8px;
   }
   
   
   
   
   
   
   .catalog .adapt {
    
      font-weight: bolder;
      position: static;
      color: rgb(25, 25, 59);
   }
   .catalog a:hover {
      color: #ffffff;
   }
   .catalog li:hover {
      background-color: #6f7994;
   }
   .catalog li:active {
      background-color: #2d313b;
   }
   
   
   }